/* Styles for the App.css
  Approach: Mobile First
  Multiple Media queries stacked below each css classes instead of one media query for better code understanding
*/

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}

.App-search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .App-search-bar {
    flex-direction: row;
  }
}

.App-cards {
  margin: 40px;
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: 600px) {
  .App-cards {
    grid-template-columns: auto auto;
  }
}

.App-cards-empty {
  margin: 40px;
  display: grid;
  grid-template-columns: auto;
  width: 80%;
}

.App-cards-contents {
  display: flex;
  flex-direction: column;
}

.normal-card {
  height: 150px;
  overflow: hidden;
  margin: 20px;
}

.textbox-component {
  width: 275px;
}

.text-suggestion-content {
  position: absolute;
  width: 275px;
}

.button-component {
  margin: 20px;
}

.text-center {
  justify-content: center;
}
